<launch>
  <!-- start rosserial server to connect to rapiro -->
  <include file="$(find rosserial_server)/launch/serial.launch">
    <arg name="port" value="/dev/rfcomm0" />
  </include>
  
  <!-- start rapiro_cmd_node to communicate to standard ROS nodes -->
  <node name="rapiro_cmd" pkg="rapiro_cmd" type="rapiro_cmd_node.py" output="screen">
    <rosparam ns="motions" command="load" file="$(find rapiro_cmd)/config/motions.yaml" />
  </node>
  
  <!-- robot state publisher -->
  <param name="robot_description" textfile="$(find rapiro_description)/urdf/rapiro.urdf" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_pub" />
</launch>
